In [48]:
import pandas as pd

In [49]:
# load and peek at data
df = pd.read_csv("../data/categorical_feature_engineering_raw/train.csv")
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,T,Y,Green,Triangle,Snake,Finland,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [50]:
# see what .isna() returns
df.isna()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
299996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
299997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
299998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
299999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [51]:
pd.isna(df)

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
299996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
299997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
299998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
299999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [52]:
# see what .notna() returns
df.notna()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
299996,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
299997,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
299998,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
299999,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [53]:
df.isna().sum()

id        0
bin_0     0
bin_1     0
bin_2     0
bin_3     0
bin_4     0
nom_0     0
nom_1     0
nom_2     0
nom_3     0
nom_4     0
nom_5     0
nom_6     0
nom_7     0
nom_8     0
nom_9     0
ord_0     0
ord_1     0
ord_2     0
ord_3     0
ord_4     0
ord_5     0
day       0
month     0
target    0
dtype: int64

In [54]:
# inputting NaN's randomly into data
df.loc[2:1000:100, ["bin_0"]] = None
df.loc[:300:20, ["ord_4", "ord_5"]] = None 
df.loc[500::50, ["nom_4", "bin_4"]] = None

In [55]:
# checking sum 
df.isna().sum()

id           0
bin_0       10
bin_1        0
bin_2        0
bin_3        0
bin_4     5990
nom_0        0
nom_1        0
nom_2        0
nom_3        0
nom_4     5990
nom_5        0
nom_6        0
nom_7        0
nom_8        0
nom_9        0
ord_0        0
ord_1        0
ord_2        0
ord_3        0
ord_4       16
ord_5       16
day          0
month        0
target       0
dtype: int64

In [56]:
# how man non-null values? 
df.notna().sum()

id        300000
bin_0     299990
bin_1     300000
bin_2     300000
bin_3     300000
bin_4     294010
nom_0     300000
nom_1     300000
nom_2     300000
nom_3     300000
nom_4     294010
nom_5     300000
nom_6     300000
nom_7     300000
nom_8     300000
nom_9     300000
ord_0     300000
ord_1     300000
ord_2     300000
ord_3     300000
ord_4     299984
ord_5     299984
day       300000
month     300000
target    300000
dtype: int64

In [57]:
# viewing only the rows where bin_4 = NaN 
df[df["bin_4"].isna()]

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
500,500,0.0,1,0,F,None,Green,Triangle,Hamster,Costa Rica,...,59add3990,1,Novice,Lava Hot,g,T,lF,1,11,1
550,550,0.0,0,0,T,None,Green,Triangle,Lion,China,...,a03cc8c1f,1,Contributor,Boiling Hot,i,L,nX,5,3,1
600,600,0.0,0,1,T,None,Green,Square,Snake,Russia,...,23b7bea04,1,Novice,Boiling Hot,c,R,Zq,1,7,0
650,650,0.0,0,0,F,None,Green,Polygon,Lion,Canada,...,e1084bbbc,1,Grandmaster,Cold,j,X,uS,4,7,1
700,700,0.0,0,0,F,None,Red,Square,Dog,Russia,...,57b41cf49,1,Expert,Freezing,l,T,vK,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299750,299750,0.0,0,1,T,None,Blue,Circle,Snake,Russia,...,ec3116ee6,1,Novice,Boiling Hot,b,I,kW,4,7,0
299800,299800,0.0,0,0,T,None,Green,Star,Cat,Russia,...,7a57918a5,1,Contributor,Cold,i,W,eb,5,9,0
299850,299850,1.0,0,0,T,None,Green,Circle,Lion,Russia,...,b91b5a8ad,1,Grandmaster,Lava Hot,o,H,ex,2,1,0
299900,299900,0.0,0,0,T,None,Green,Triangle,Lion,Canada,...,d933993b5,2,Novice,Warm,l,V,kC,7,10,1
299950,299950,0.0,0,1,T,None,Green,Triangle,Hamster,Costa Rica,...,84627bdcf,1,Grandmaster,Boiling Hot,e,Y,Xi,4,8,1

In [58]:
# priginal df shape
df.shape

(300000, 25)

In [59]:
# df shape after dropping rows with any missing values 
df.dropna(how="any").shape

(293984, 25)

In [60]:
# df shape  after dropping rows with all missing values
df.dropna(how="all").shape

(300000, 25)

In [68]:
# dropping any row if it has NaN in ord_4 or ord_5
df.dropna(subset=["ord_4", "ord_5"], how="any").shape

(299984, 25)

In [61]:
# dtype of ord_4 is object so NaN is None`
df[df["ord_4"].isna()]["ord_4"]

0      None
20     None
40     None
60     None
80     None
100    None
120    None
140    None
160    None
180    None
200    None
220    None
240    None
260    None
280    None
300    None
Name: ord_4, dtype: object

In [66]:
df[df["bin_0"].isna()]["bin_0"]

2     NaN
102   NaN
202   NaN
302   NaN
402   NaN
502   NaN
602   NaN
702   NaN
802   NaN
902   NaN
Name: bin_0, dtype: float64

In [67]:
# checking values in bin_0
df["bin_0"].values

array([ 0.,  0., nan, ...,  0.,  0.,  0.])

In [62]:
# NaN values are ignored
df["ord_4"].value_counts()

L    19065
G    18895
S    18873
A    18258
R    16927
Q    15925
K    14698
I    14643
Z    14232
T    14220
V    14143
J    12877
P    12838
U    12774
H    12743
F    11716
E    11302
W     9197
Y     8488
X     6292
B     6169
O     5836
D     3973
C     3575
N     2166
M      159
Name: ord_4, dtype: int64

In [65]:
# filling the NaN values
df["ord_4"].fillna("Other").value_counts()

L        19065
G        18895
S        18873
A        18258
R        16927
Q        15925
K        14698
I        14643
Z        14232
T        14220
V        14143
J        12877
P        12838
U        12774
H        12743
F        11716
E        11302
W         9197
Y         8488
X         6292
B         6169
O         5836
D         3973
C         3575
N         2166
M          159
Other       16
Name: ord_4, dtype: int64

In [ ]:
df.replace()